<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <title>BoosterBot BoosterPack</title>

    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="stylesheets/style.css" rel="stylesheet">
    <link href="stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="javascripts/fancybox/jquery.fancybox.css" rel="stylesheet" />

<!--
    <script src="../../javascripts/ie8-responsive-file-warning.js"></script>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
-->

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../javascripts/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#theMenu">
		
	<!-- Menu -->
	<nav class="menu" id="theMenu">
		<div class="menu-wrap">
			<h1 class="logo"><a href="#home">BoosterBot</a></h1>
			<i class="fa fa-times menu-close"></i>
			<a href="#home" class="smoothScroll">Home</a>
			<a href="#features" class="smoothScroll">Features</a>
			<a href="#demo" class="smoothScroll">Demo</a>
			<a href="#hardware" class="smoothScroll">Hardware</a>
			<a href="#software" class="smoothScroll">Software</a>
			<a href="#documentation" class="smoothScroll">Documentation</a>
			<a href="#process" class="smoothScroll">Design Process</a>
			<a href="#team" class="smoothScroll">The Team</a>
			<a href="#contact" class="smoothScroll">Contact</a>

			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="https://github.com/shengzhao91"><i class="fa fa-dribbble"></i></a>
			<a href="mailto:shengzhao91@gmail.com?Subject=BoosterBot%20BoosterPack"><i class="fa fa-envelope"></i></a>
		</div>
		
		<!-- Menu button -->
		<div id="menuToggle"><i class="fa fa-bars"></i></div>
	</nav>

	<section id="home" name="home"></section>
	<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center">
					<h1>BoosterBot</h1>
					<h2>A Robotics BoosterPack for Your LaunchPad</h2>
				</div>
			</div><! --/row -->
			<div class="row">
				<div class="col-md-3 col-md-offset-3">
					<a href="" class="thumbnail" id="watchVideoBtn" data-toggle="modal" data-target="#FirmataDemoModal">
						Watch Video
					</a>
				</div>
				<div class="col-md-3">
					<a href="https://github.com/Hylian/BoosterBot" class="thumbnail" id="viewGitHubBtn">View GitHub</a>
				</div>
			</div>
		</div><! --/container -->
	</div><! --/headerwrap -->

<!-- 	<section id="introduction" name="introduction"></section>
	<div id="introductionwrap">
		<div class="container">
			<div class="row mt centered">
				<h1>Introduction</h1>
				<hr class="section-heading-spacer">
				<div class="clearfix"></div>
				<div id="introvideo"class="col-md-12">
				</div>
			</div>
		</div>
	</div>-->

	<section id="features" name="features"></section>
	<div id="featureswrap">
		<div class="container">
			<div class="row mt centered">
				<h1>Features</h1>
				<hr class="section-heading-spacer">
				<div class="clearfix"></div>
				<div class="col-md-3 proc">
					<i class="fa fa-coffee"></i>
					<h3>Standard 40-pin Header </h3>
					<p>Adhere to the BoosterPack standard. Go plug in your favorite LaunchPad!</p>
				</div>
				<div class="col-md-3 proc">
					<i class="fa fa-cogs"></i>
					<h3>Dual Power Mode</h3>
					<p>Choose 3xAAA batteries or plug in your Fuel Tank BoosterPack</p>
				</div>
				<div class="col-md-3 proc">
					<i class="fa fa-heart"></i>
					<h3>Energia Libraries</h3>
					<p>Port exisiting Energia/Arduino code directly to your new BoosterPack</p>
				</div>
				<div class="col-md-3 proc">
					<i class="fa fa-heart"></i>
					<h3>Great for Beginners</h3>
					<p>The plug-and-play aspect of the LaunchPad and full Energia support makes it easy for beginners</p>
				</div>
			</div><! --/row -->
			<div class="row mt centered">
				<div class="col-md-3 proc">
					<i class="fa fa-coffee"></i>
					<h3>Out-of-Box Demo</h3>
					<p>Download awesome line tracking, maze solving, and remote-control demo</p>
				</div>
				<div class="col-md-3 proc">
					<i class="fa fa-cogs"></i>
					<h3>Compact & Agile</h3>
					<p>The small form factor and low center of gravity makes your car drive super fast!</p>
				</div>
				<div class="col-md-3 proc">
					<i class="fa fa-heart"></i>
					<h3>Connect to Cloud</h3>
					<p>Using Firmata and Node JS, you can control your BoosterPack from any web browser.</p>
				</div>
				<div class="col-md-3 proc">
					<i class="fa fa-heart"></i>
					<h3>Open Source</h3>
					<p>Make your own modification to the awesome BoosterPack</p>
				</div>
			</div><! --/row -->

		</div><! --/container -->

		</div><!-- /container -->
	</div><!-- /featureswrap -->

	<section id="demo" name="demo"></section>
	<div id="demowrap">
		<div class="container">
			<div class="row mt centered">
				<h1>Demo</h1>
				<hr class="section-heading-spacer">
				<div class="clearfix"></div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<a class="thumbnail" href="" data-toggle="modal" data-target="#IntroVideoModal">
						<img src="images/line-tracking-demo-thumb.jpg" 
						alt="Intro Video">
					</a>
					<div class="caption">
						<h3>Intro Video</h3>
						<p>Some sample text. Some sample text.</p>
					</div>
				</div>
				<div class="col-md-4">
					<a href="" class="thumbnail" data-toggle="modal" data-target="#LineTrackingModal">
						<img src="images/line-tracking-demo-thumb.jpg" 
						alt="Line Tracking" >
					</a>
					<div class="caption">
						<h3>Line Tracking Demo</h3>
						<p>Some sample text. Some sample text.</p>
					</div>
				</div>
				<div class="col-md-4">
					<a href="" class="thumbnail" data-toggle="modal" data-target="#FirmataDemoModal">
						<img src="images/line-tracking-demo-thumb.jpg" 
						alt="Firmata RC Control">
					</a>
					<div class="caption">
						<h3>Firmata Remote Control Demo</h3>
						<p>Some sample text. Some sample text.</p>
					</div>
				</div>
			</div>
			</div>
		</div><! --/container -->
	</div><! --/demowrap -->

	<!-- Firmata Demo Modal -->
	<div class="modal fade" id="FirmataDemoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="myModalLabel">Remote Control with Firmata</h4>
				</div>
				<div class="modal-body">
					<div id="introvideo"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div> <!-- /FirmataDemoModal -->

	<section id="hardware" name="hardware"></section>
	<div id="hardwarewrap">
		<div class="container">
			<div class="mt centered">
				<h1>Hardware</h1>
				<hr class="section-heading-spacer">
				<div class="clearfix"></div>
			</div>
			<div class="row mt centered">
				<div class="col-md-4 proc">
					<i class="fa fa-coffee"></i>
					<h3>Texas Instruments</h3>
					<p>Entire BoosterPack made with TI ICs</p>
				</div>
				<div class="col-md-4 proc">
					<i class="fa fa-cogs"></i>
					<h3>Open Source</h3>
					<p>Hardware is open source</p>
				</div>
				<div class="col-md-4 proc">
					<i class="fa fa-heart"></i>
					<h3>Single PCB Solution</h3>
					<p>All features are built on top of a single piece of PCB</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<img class="img-responsive" src="images/boosterbot-bottom.jpg" alt="">
				</div>
				<div class="col-md-6">
					<div class="panel panel-primary">
						<div class="panel-heading">Dual H-Bridge Motor Driver - DRV8833</div>
						<div class="panel-body">
							This motor driver features dual H-bridge. Takes in 4-input PWMs and can drive 2 motors.
						</div>
					</div>

					<div class="panel panel-primary">
						<div class="panel-heading">Sharp Infrared Proximity Sensor</div>
						<div class="panel-body">
							Detects objects 10 to 80 cm away by outputting an analog voltage ranging from 3.1 to 0.4V to an analog pin. [<a href="https://www.sparkfun.com/datasheets/Components/GP2Y0A21YK.pdf">Datasheet</a>]
						</div>
					</div>

					<div class="panel panel-primary">
						<div class="panel-heading">Five Reflectance Sensors - QRE1113</div>
						<div class="panel-body">
							By deciphering white from black surfaces, the reflectance sensors enable cool line tracking and maze solving capabilities. [<a href="https://www.sparkfun.com/datasheets/Components/SMD/QRE1113.GR.pdf">Datasheet</a>]
						</div>
					</div>

					<div class="panel panel-primary">
						<div class="panel-heading">Servo Header</div>
						<div class="panel-body">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.
						</div>
					</div>

					<div class="panel panel-primary">
						<div class="panel-heading">Low Center of Gravity</div>
						<div class="panel-body">
							BoosterBot’s low center of gravity enables it to maneuver swiftly around sharp turns.
						</div>
					</div>

					<div class="panel panel-primary">
						<div class="panel-heading">30:1 Micro Metal Gearmotor</div>
						<div class="panel-body">
							Two 30:1 micro metal Pololu gearmotors are used on BoosterBot to create a differential drive system to spin two Pololu wheels. Each motor is capable of being boosted to 9V for maximum speed. [<a href="http://www.pololu.com/product/993">Datasheet</a>]
						</div>
					</div>
				</div>
            </div><! --/row -->

		</div><! --/container -->

		</div><!-- /container -->
	</div><!-- /hardwarewrap -->

	<section id="software" name="software"></section>
	<div id="softwarewrap">
		<div class="container">
			<div class="row mt centered">
				<h1>Software</h1>
				<hr class="section-heading-spacer">
				<div class="clearfix"></div>
				<div class="col-md-3 proc">
					<i class="fa fa-coffee"></i>
					<h3>Energia Library</h3>
					<p>Libraries are provided in Energia to get your project off and rolling.</p>
				</div>
				<div class="col-md-3 proc">
					<i class="fa fa-cogs"></i>
					<h3>Simple APIs</h3>
					<p>Designed for beginners, the APIs are intuitive and easy to use!</p>
				</div>
				<div class="col-md-3 proc">
					<i class="fa fa-heart"></i>
					<h3>Firmata</h3>
					<p>A serial protocol that lets you control your BoosterPack from your PC</p>
				</div>
				<div class="col-md-3 proc">
					<span class="glyphicon glyphicon-star"></span>
					<h3>Open Source Software</h3>
					<p>All demo's source code can be downloaded <a href="#downloads">here</a></p>
				</div>
			</div><! --/row -->

			<h2>Firmata</h2>
			<div>
				<img src="images/Firmata_Diagram.png" >
			</div>

		

		</div><! --/container -->

		</div><!-- /container -->
	</div><!-- /softwarewrap -->

<!-- 	<section id="downloads" name="downloads"></section>
	<div id="downloadswrap">
		<div class="container">
			<div class="row mt centered">
				<h1>Downloads</h1>
				<hr class="section-heading-spacer">
				<div class="clearfix"></div>
				<div class="col-md-3 proc">
					<i class="fa fa-coffee"></i>
					<h3>Hardware Gerber Files</h3>
					<p>Check out the <a href="">Gerber files</a> that were used to manufacture the BoosterBot PCB!</p>
				</div>
				<div class="col-md-3 proc">
					<i class="fa fa-cogs"></i>
					<h3>Motor Library</h3>
					<p>A great library to include for controlling the motors.</p>
				</div>
				<div class="col-md-3 proc">
					<i class="fa fa-heart"></i>
					<h3>Line Tracking</h3>
					<p>Get your BoosterBot and LaunchPad to follow a black line by downloading the line tracking demo <a href="">here</a>!</p>
				</div>
				<div class="col-md-3 proc">
					<span class="glyphicon glyphicon-star"></span>
					<h3>Remote Control with Firmata</h3>
					<p>Try controlling BoosterBot wirelessly by downloading this demo <a href="">here</a></p>
				</div>
			</div>
		</div>
	</div><! /downloadswrap -->

	<section id="documentation" name="documentation"></section>
	<div id="documentationwrap">
		<div class="container">
			<div class="row mt centered">
				<h1>Documentation</h1>
				<hr class="section-heading-spacer">
				<div class="clearfix"></div>
				<div class="col-md-4 proc">
					<h3>Getting Started</h3>
					<p> We, the BoosterBot team, recommend getting started by downloading the Motor Library and the demos under the Downloads section. Attach your BoosterBot under your favorite 40-pin LaunchPad then download an Energia demo to your board.</p>
				</div>
				<div class="col-md-4 proc">
					<h3>Hardware Setup</h3>
					<p>Setting up the hardware could not be easier! Take BoosterBot out of the box and attach it under a 40-pin LaunchPad. Power the boards by using your FuelTank BoosterPack or the 3xAAA battery pack.</p>
				</div>
				<div class="col-md-4 proc">
					<h3>Software Setup</h3>
					<p>Download <a href="www.energia.nu">Energia</a>, plug in a USB cable into your computer, download the demos and Energia libraries under the Downloads section, and download a demo application to the LaunchPad.</p>
				</div>
			</div><! --/row -->

			<div class="row mt centered">
				<div class="col-md-3 proc">
					<i class="fa fa-coffee"></i>
					<h3>Hardware Gerber Files</h3>
					<p>Check out the <a href="">Gerber files</a> that were used to manufacture the BoosterBot PCB!</p>
				</div>
				<div class="col-md-3 proc">
					<i class="fa fa-cogs"></i>
					<h3>Motor Library</h3>
					<p>A great library to include for controlling the motors.</p>
				</div>
				<div class="col-md-3 proc">
					<i class="fa fa-heart"></i>
					<h3>Line Tracking</h3>
					<p>Get your BoosterBot and LaunchPad to follow a black line by downloading the line tracking demo <a href="">here</a>!</p>
				</div>
				<div class="col-md-3 proc">
					<span class="glyphicon glyphicon-star"></span>
					<h3>Remote Control with Firmata</h3>
					<p>Try controlling BoosterBot wirelessly by downloading this demo <a href="">here</a></p>
				</div>
			</div>
		</div><! --/container -->
	</div><!-- /documentationwrap -->

	<section id="process" name="process"></section>
	<div id="processwrap">
		<div class="container">
			<div class="row mt centered">
				<h1>Design Process</h1>
				<hr class="section-heading-spacer">
				<div class="clearfix"></div>

					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
				
			</div><! --/row -->

		

		</div><! --/container -->

		</div><!-- /container -->
	</div><!-- /processwrap -->

	<section id="team" name="team"></section>
	<div id="teamwrap">
		<div class="container">
			<div class="row mt centered">
				<h1>Meet the Team</h1>
				<hr class="section-heading-spacer">
				<div class="clearfix"></div>
				<div class="col-md-4 name">
					<img class="img-responsive" src="images/pic-edward.png">
					<p>EDWARD SHIN</p>
					<div class="name-label">Hardware Engineer</div>
				</div><! --/col-md-4-->
				<div class="col-md-4 name">
					<img class="img-responsive" src="images/pic-sheng.png">
					<p>SHENG ZHAO</p>
					<div class="name-label">Software Engineer<br>Web Designer</div>
				</div><! --/col-md-4-->
				<div class="col-md-4 name">
					<img class="img-responsive" src="images/pic-jeff.png">
					<p>JEFF PETTYJOHN</p>
					<div class="name-label">Application Engineer</div>
				</div><! --/col-md-4-->
					
				
			</div><! --/row -->

		

		</div><! --/container -->

		</div><!-- /container -->
	</div><!-- /teamwrap -->

	<section id="contact" name="contact"></section>
	<! -- CONTACT SEPARATOR -->
	<div class="sep contact" data-stellar-background-ratio="0.5"></div>
	
	<div id="contactwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<p>
						Website made by<br/>
						Sheng Zhao<br/>
						shengzhao91(at)gmail.com<br/>
						<a href="github.com/shengzhao91">github.com/shengzhao91</a>
					</p>
			
				</div>
				
				<div class="col-lg-6">
					<form role="form">
					  <div class="form-group">
					    <label for="exampleInputName1">Your Name</label>
					    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter name">
					    <label for="exampleInputEmail1">Email address</label>
					    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
					    <label for="exampleInputText1">Message</label>
					    <textarea class="form-control" rows="3"></textarea>
					  </div>
					  <button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>
			
			</div><! --/row -->
		</div><!-- /container -->
	</div>
		
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="javascripts/classie.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/smoothscroll.js"></script>
	<script src="javascripts/jquery.stellar.min.js"></script>
	<script src="javascripts/fancybox/jquery.fancybox.js"></script>
	<script src="https://www.youtube.com/iframe_api"></script>
	<script src="javascripts/main.js"></script>
		<script>
		$(function(){
			$.stellar({
				horizontalScrolling: false,
				verticalOffset: 40
			});
		});
		</script>
		
		<script type="text/javascript">
      $(function() {
        //    fancybox
          jQuery(".fancybox").fancybox();
      });
	   </script>

  </body>
</html>
